.combo-box > .list-cell:filled:selected{
    -fx-font-family: 'Comfortaa SemiBold';
        -fx-font-size: 14px;
}
.combo-box{
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 8;
    -fx-border-color: #6F39B6;
    -fx-border-radius: 8;
    -fx-border-width: 1.5;
    -fx-pref-height: 35;
    -fx-pref-width: 400;
    -fx-padding: 0 0 0 10;
}